---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
        <p class="subtitle">{{ post.description }}</p>
      </a>
    </h2>
    <div class="post-info">
      <div class="post-info-detail">
        <span class="post-date">{{ post.date | date_to_string }}</span>
        <small>
          <span class="fa-stack fa-sm">
            <i class="fa fa-tags fa-stack-1x"></i>
            </span> :
            {% for tag in post.tags %} <a class="tag-wrapper" href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><i
              class="tags">{{ tag }}</i></a> {% if forloop.last != true %} {% endif %} {% endfor %}
        </small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>