<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#f2efe8">
  <meta name="color-scheme" content="light">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC:wght@500;600;700&display=swap" rel="stylesheet">

  {% feed_meta %}
  {% seo %}

  <!-- Vendor styles stay before the site layer so older posts can keep using Bootstrap classes. -->
  <link rel="stylesheet" href="{{ '/public/css/bootstrap.min.css' | relative_url }}" media="screen">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | relative_url }}" media="screen">
  <link rel="stylesheet" href="{{ '/public/css/font-awesome/font-awesome.css' | relative_url }}" media="screen">
  <link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | relative_url }}" media="screen">

  <link rel="apple-touch-icon" sizes="144x144" href="{{ '/public/apple-touch-icon-144-precomposed.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/public/favicon.ico' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="Greg's Blog RSS" href="{{ '/atom.xml' | relative_url }}">

  {% if site.plugin_js %}
    {% for javascript in site.plugin_js %}
      <script defer src="{{ '/assets/javascript/' | append: javascript | append: '.js' | relative_url }}"></script>
    {% endfor %}
  {% endif %}

  {% include analytics.html %}
</head>
