.list-inline {
  margin-top: 1em;
  padding-left: 0;
  list-style-type: none;
  li {
    display: inline-block;

    a {
      color: #655643;
      font-weight: 700;

      .fa-circle {
        color: rgba(255,255,255,.5);
      }
    }
  }
}

.message {
  .profile-img {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: middle;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .intro-message {
    display: inline-block;
    text-align: justify;
    width: 80%;
    vertical-align: middle;
    padding-left: 20px;
  }
}