.list-inline {
  margin-top: 1em;
  padding-left: 0;
  list-style-type: none;
  li {
    display: inline-block;

    a {
      color: #655643;
      font-weight: 700;

      .fa-circle {
        color: rgba(255,255,255,.5);
      }
    }
  }
}