<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body>
    {% include menubar.html %}
    <div class="content g-body">
      <div class="container">
        <div class="row">
          {% include sidebar_left.html %}
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 box-shadow fadein-right sidebar-right">
            <div class="page-content" id="pjax">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pjax_loading">
      <div class="spinner">
        <div class="spinner-text">Loading</div>
        <div class="spinner-sector spinner-sector-red"></div>
        <div class="spinner-sector spinner-sector-blue"></div>
        <div class="spinner-sector spinner-sector-green"></div>
      </div>
    </div>
  </body>
</html>
