---
layout: default
comments: true
---

<div class="article-inner">
  <h1 class="post-title">{{ page.title }}</h1>
  <header class="article-meta">
    <div class="article-date">
      <i class="fa fa-calendar"></i>
      <time datetime="{{ page.date | date_to_string: "ordinal", "US" }}" itemprop="datePublished">{{ page.date | date_to_string: "ordinal", "US" }}</time>
    </div>
    <div class="article-tags">
      <i class="fa fa-tags"></i> :
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a class="tag-wrapper" href="/tag/{{ tag_name }}" title="View posts tagged with &quot;{{ tag_name }}&quot;">
          {{ tag_name }}
        </a>
      {% endfor %}
    </div>
  </header>
  <div class="article-info">
    {{ content }}
    {% if page.reference %}
      <div class="article-reference">
        <h2>參考資源</h2>
        <ul>
            {% assign links = page.reference.name.size | minus:1 %}
              {% for i in(0..links) %}
              <li>
                <a href="{{ page.reference.link[i] }}">{{ page.reference.name[i] }}</a>
              </li>
              {% endfor %}
        </ul>
      </div>
  {% endif %}
  </div>
</div>
<div class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
  {% include comments.html %}
</div>
